@model List<YummyProject.Models.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2>Hakkımızda Bilgileri</h2>

<table class="table table-bordered table-hover table-secondary">
    <thead>
        <tr>
            <th>#</th>
            <th>Madde 1</th>
            <th>Madde 2</th>
            <th>Madde 3</th>
            <th>Açıklama</th>
            <th>Video Url</th>
            <th>Telefon Numarası</th>
            <th>Resim 1</th>
            <th>Resim 2</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Item1</td>
                <td>@item.Item2</td>
                <td>@item.Item3</td>
                <td>@item.Description</td>
                <td>@item.VideoUrl</td>
                <td>@item.PhoneNumber</td>
                <td><img src="@item.ImageUrl" alt="Resim 1" style="width:60px; height:50px;" /></td>
                <td><img src="@item.ImageUrl2" alt="Resim 2" style="width:60px; height:50px;"/></td>
                <td>
                    <a href="/About/UpdateAbout/@item.AboutId" class="btn btn-warning">Güncelle</a>
                    <a href="/About/DeleteAbout/@item.AboutId" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/About/AddAbout" class="btn btn-primary">Yeni Hakkmızda Ekle</a>
