@model List<YummyProject.Models.Booking>

@{
    ViewBag.Title = "NotApproved";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Reverzasyon Listesi</h2>

<table class="table table-bordered table-hover table-secondary">
    <thead class="">
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Mail</th>
            <th>Telefon Numarası</th>
            <th>Tarih</th>
            <th>Kişi Sayısı</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookingId</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.BookingDate</td>
                <td>@item.PersonCount</td>
                <td>@item.IsApproved</td>
                <td>
                    <a href="/Booking/IsApproved/@item.BookingId" class="btn btn-sm btn-success">Onayla</a>
                    <a href="/Booking/IsntApproved/@item.BookingId" class="btn btn-sm btn-warning">İptal Et</a>
                </td>
            </tr>
        }
    </tbody>
</table>

