@model List<YummyProject.Models.Chef>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<h2>Şef Bilgileri</h2>

<table class="table table-bordered table-hover table-secondary">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Ünvan</th>
            <th>Açıklama</th>
            <th>Resim</th>
            <th>Sosyal Medya Hesapları</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td><img src="@item.ImageUrl" alt="Resim 1" style="width:150px; height:100px;" /></td>
                <td><a href="/ChefSocialMedias/Index/@item.ChefId" class="btn btn-secondary">Sosyal Medya</a></td>
                <td>
                    <a href="/Chef/UpdateChef/@item.ChefId" class="btn btn-warning">Güncelle</a>
                    <a href="/Chef/DeleteChef/@item.ChefId" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Chef/AddChef" class="btn btn-primary">Yeni Şef Ekle</a>

